<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://kit.fontawesome.com/5607dd1191.js" crossorigin="anonymous"></script>
    <title>TaskForce Tracker</title>
</head>
<body>
    <div class="nav-bar">
        <div class="home-page" onclick="window.location.href='/'">
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="nav-middle">
            <div class="search-bar-text">Profile</div>
        </div>
        <div class="back-arrow" onclick="window.location.href='/'">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
    </div>    <div class="profile-container">
        <div class="profile-icon"><i class="fa-solid fa-user"></i></div>
    </div>
</body>
</html>