<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://kit.fontawesome.com/5607dd1191.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Panacea</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body class="landing-page-wrapper">
    <div class="navbar-wrapper">
        <nav class="tft-navbar navbar-expand navbar-dark bg-dark">
            <div class="tft-link-wrapper">
                <a class="navbar-brand" onclick="window.location.href='index';" style="padding-left: 1vw;">Panacea</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample06" style="display: flex; justify-content: space-around;">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='ticket-dashboard';" style="cursor: pointer;">Ticket Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='reports-dashboard';" style="cursor: pointer;">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='notifications-dashboard';" style="cursor: pointer;">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='knowledge-base';" style="cursor: pointer;">Knowledge Base</a>
                    </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse navbar-end dropdown" id="navbarsExample06">
                    <h3 class="username nav-item">{{current_user.username}}</h3>
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="dropdown06">
                        <a class="dropdown-item" onclick="window.location.href='profile';">Profile</a>
                        <a class="dropdown-item" onclick="window.location.href='logout';">Logout</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>    
    </div>
    
        <div class="landing-search landing-parallax-image" style="display: flex;" id="navbarsExample02">
            <form class="form-inline my-3 my-md-0 search-bar-wrapper " action="/ticket-dashboard" method="get">
                <input class="form-control" type="text" id="searchInputHome" placeholder="Search">
                <button class="btn main-search" type="submit">Search</button>
            </form>
        </div>
        <div class="tiles">
            <!-- TODO: Make contacts page and switch out -->
            <button type="button" onclick="window.location.href='contacts';" class="btn btn-primary" class="tile">
                <div class="contacts-tile-icon">
                    <img src="../static/styles/Contacts.svg" alt="">
                </div>
                <div class="contacts-tile-title">
                    <h3>Contacts</h3>
                </div>
                <div class="contacts-tile-info">
                    Have a question? Here is a list of POC's and how they can help you.
                </div>
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" class="tile">
                <div class="account-management-tile-icon">
                    <img src="../static/styles/access-management.svg" alt="">
                </div>
                <div class="account-management-tile-title">
                    <h3>Account Management</h3>
                </div>
                <div class="account-management-tile-info">
                    Managing your account, creating new users.
                </div>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 4vw; height: 6vh; background-color: #fff; border: #fff;"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form class="needs-validation" novalidate="" action="/create_issue" method="post" id="issueForm">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="openTicketsCheckbox">
                                    <label class="form-check-label" for="openTicketsCheckbox">
                                      Create New Account
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="openTicketsCheckbox">
                                    <label class="form-check-label" for="openTicketsCheckbox">
                                      Modify Account
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="openTicketsCheckbox">
                                    <label class="form-check-label" for="openTicketsCheckbox">
                                      Delete Account
                                    </label>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" name="title" id="title" placeholder="" value="" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="description" style="width: auto;">Description</label>
                                    <textarea id="description" class="form-control" name="description" rows="4" required></textarea>
                                </div>
                                <input type="checkbox" name="watch" id="watchTicket"> Watch Ticket<br>
                                <div class="modal-footer modal-button" style="display: flex; justify-content: center;">

                                    <button class="btn" type="submit" data-bs-dismiss="modal" aria-label="Close" style="display: flex; justify-content: center; align-items: center; color: white; background-color: #C90404; border-color: #C90404; height: 6vh">
                                        Submit Ticket
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"class="tile">
                <div class="create-ticket-tile-icon">
                    <img src="../static/styles/request.svg" alt="">
                </div>
                <div class="create-ticket-tile-title">
                    <h3>Create Ticket</h3>
                </div>
                <div class="create-ticket-tile-info">
                    Here you can create a new ticket. Of any type and what not.
                </div>
            </button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" >
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 4vw; height: 6vh; background-color: #fff; border: #fff;"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form class="needs-validation" novalidate="" action="/create_issue" method="post" id="issueForm2">
                                <div class="col-md-12 mb-3">
                                    <select name="issueType" id="issueType">
                                        <option value="ticket-type-name">Select ticket type</option>
                                        <option value="ticket-type-name">Hardware/Network</option>
                                        <option value="ticket-type-name">Access management</option>
                                        <option value="ticket-type-name">Mobile provisioning</option>
                                        <option value="ticket-type-name">Firewall configuration</option>
                                        <option value="ticket-type-name">Something is broken, not working,need assistance</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" name="title" id="title" placeholder="" value="" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="description" style="width: auto;">Description</label>
                                    <textarea id="description" class="form-control" name="description" rows="4" required></textarea>
                                </div>
                                <input type="checkbox" name="watch" id="watchTicket"> Watch Ticket<br>
                                <div class="modal-footer modal-button" style="display: flex; justify-content: center;">

                                    <button class="btn" type="submit" data-bs-dismiss="modal" aria-label="Close" style="display: flex; justify-content: center; align-items: center; color: white; background-color: #C90404; border-color: #C90404; height: 6vh">
                                        Submit Ticket
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var watchTickets = document.getElementById('watchTickets');
            
            watchTickets.addEventListener('change', function() {
                document.querySelectorAll('.watchTicket').forEach(function(ticket) {
                    ticket.style.display = watchTickets.checked ? '' : 'none';
                });
            });
        });   
    </script>
    <!-- <script>
        $(document).ready(function(){
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#dataTable tr:not(:first)").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
    <script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelector('.main-search').addEventListener('click', function() {
        window.location.href = '/search';
    });
});
</script> -->
<script>
    $(document).ready(function() {
        $('#issueForm').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/create_issue",
                data: $(this).serialize(),
                success: function(response) {
                    alert(response.message);
                    $('#exampleModal').modal('hide');
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseJSON.message);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#issueForm2').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/create_issue",
                data: $(this).serialize(),
                success: function(response) {
                    alert(response.message);
                    $('#exampleModal2').modal('hide');
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseJSON.message);
                }
            });
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> 
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script> -->
</body>
</html>

