<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://kit.fontawesome.com/5607dd1191.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>TaskForce Tracker</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="navbar-wrapper">
        <nav class="tft-navbar navbar-expand navbar-dark bg-dark">
            <div class="tft-link-wrapper">
                <a class="navbar-brand" href="#" style="padding-left: 1vw;">TaskForce Tracker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="search-bar-wrapper collapse navbar-collapse" id="navbarsExample02">
                    <form class="form-inline my-3 my-md-0">
                        <input class="form-control" type="text" id="searchInput" placeholder="Search">
                    </form>
                </div>
                <div class="collapse navbar-collapse" id="navbarsExample02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" onclick="window.location.href='profile';">Welcome Major Davis<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Logout</a>
                    </li>
                  </ul>
                </div>
            </div>
          </nav>    
    </div>
    <div class="index-wrapper">
        <div class="top-wrapper"></div>
        <div class="middle-wrapper">
            <div class="buttons index-buttons-wrapper">
                <button onclick="window.location.href='ticket-dashboard';">Ticket Dashboard</button>
                <button onclick="window.location.href='reports-dashboard';">Reports</button>
                <button onclick="window.location.href='notifications-dashboard';">Notifications</button>
                <button onclick="window.location.href='knowledge-base';">Knowledge Base</button>
            </div>
            <div class="table watched-tickets"  style="table-layout: fixed; width: 48.367vw;">
                <table class="table table-darks table-hovers" id="dataTable" style=" table-layout: fixed; width: 90vw; margin: 10vh 5vw;">
                    <tr style="background-color: #343a40 !important;">
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Label Name</th>
                        <th>Id</th>
                        <th>Assigned To</th>
                    </tr>
                    {% for issue in issues %}
                        {% if 'Watch' in issue.labels %}
                            <tr class="hover-selector">
                                <td>{{ issue.title }}</td>
                                <td>{{ issue.description | default('No description', true) }}</td>
                                <td>{{ issue.created_at }}</td>
                                <td>
                                    {% for label in issue.labels %}
                                        {{ label }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ issue.id }}</td>
                                <td>
                                    {% if issue.assignees %}
                                        {% for assignee in issue.assignees %}
                                            {{ assignee.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Not Assigned
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>            
            </div>
        </div>
        <div class="bottom-wrapper" style="height: 10vh; width: 100vw;"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var watchTickets = document.getElementById('watchTickets');
            
            watchTickets.addEventListener('change', function() {
                document.querySelectorAll('.watchTicket').forEach(function(ticket) {
                    ticket.style.display = watchTickets.checked ? '' : 'none';
                });
            });
        });   
    </script>
    <script>
        $(document).ready(function(){
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                // Start filtering from the second row, skipping the header
                $("#dataTable tr:not(:first)").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

