<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://kit.fontawesome.com/5607dd1191.js" crossorigin="anonymous"></script>
    <title>Total Issues</title>
</head>
<body>
    <div class="nav-bar" style="margin-bottom: 15vh;">
        <nav class="navbar navbar-expand navbar-dark nav-bar">
            <div class="home-page" onclick="window.location.href='/'">
                <i class="fa-solid fa-house"></i>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="issue-name" style="display: flex; justify-content: center;">
                <h1>
                    Add user to application
                </h1>
            </div>

            <div class="back-arrow" onclick="window.location.href='/'">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
        </nav>
    </div>   
    <div class="issue">
        
        <table class="table table-dark table-hover" style="width: 100vw; padding-left: 5vw; padding-right: 5vw; padding-bottom: 10vh;">
            <tr>
                <th>title</th>
                <th>label</th>
                <th>description</th>
                <th>assigned_ids</th>
                <th>created_at</th>
                <th>request_id</th>
            </tr>
            <tr>
                <th>Add user to applications</th>
                <th>MME Access Management</th>
                <th>Add Smith, John to the following applications: Zscaler, GitLAb and Databricks</th>
                <th>Gabriel Sital</th>
                <th>2/25/2024</th>
                <th>7</th>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>
