<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://kit.fontawesome.com/5607dd1191.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Ticket Dashboard</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="navbar-wrapper">
        <nav class="tft-navbar navbar-expand navbar-dark bg-dark">
            <div class="tft-link-wrapper">
                <a class="navbar-brand" href="#" style="padding-left: 1vw;">TaskForce Tracker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample06">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" onclick="window.location.href='ticket-dashboard';">Ticket Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="window.location.href='reports-dashboard';">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="window.location.href='notifications-dashboard';">Notifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="window.location.href='knowledge-base';">Knowledge Base</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse navbar-end dropdown" id="navbarsExample06">
                    <h3 class="username nav-item">{{current_user.username}}</h3>
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="dropdown06">
                        <a class="dropdown-item" onclick="window.location.href='profile';">Profile</a>
                        <a class="dropdown-item" onclick="window.location.href='logout';">Logout</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>    
    </div>
    <div class="ticket-wrapper" style="margin-top: 5vh; margin-bottom: 5vh;">
        <div class="ticket-type">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: white; background-color: #C90404; border-color: #C90404;">
                Create Ticket
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 4vw;"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form class="needs-validation" novalidate="" action="/create_issue" method="post" id="issueForm">
                                <div class="col-md-12 mb-3">
                                    <select name="issueType" id="issueType">
                                        <option value="Create New Account">Create New Account</option>
                                        <option value="Azure Permissions Change">Azure Permissions Change</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" name="title" id="title" placeholder="" value="" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="description" style="width: auto;">Description</label>
                                    <textarea id="description" class="form-control" name="description" rows="4" required></textarea>
                                </div>
                                <input type="checkbox" name="watch" id="watchTicket"> Watch Ticket<br>
                                <div class="modal-footer" style="display: flex; justify-content: center;">
                                    <!-- <button class="btn btn-lg btn-block" type="submit" style="background-color: #C90404; color: white;">Submit Ticket</button> -->
                                    <button class="btn btn-lg btn-block" type="submit" data-bs-dismiss="modal" aria-label="Close" style="color: white; background-color: #C90404; border-color: #C90404;">
                                        New Submit Ticket
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="ticket-wrapper-checkbox">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="openTicketsCheckbox">
                <label class="form-check-label" for="openTicketsCheckbox">
                  Open Tickets
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="closedTicketsCheckbox">
                <label class="form-check-label" for="closedTicketsCheckbox">
                  Closed Tickets
                </label>
            </div>   
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="watchTicketsCheckbox">
                <label class="form-check-label" for="watchTicketsCheckbox">
                  Watched Tickets
                </label>
            </div>     
        </div>
        <div class="ticket-search-bar">
            <form class="form-inline" >
                <input class="form-control mr-sm-2" type="search" id="searchInput" placeholder="Find" aria-label="Search" style="width: 84vw;  color: black;">
                <button class="btn  table-darks mr-sm-2" type="submit" style="margin-left: 2vw;">Clear</button>
              </form>
        </div> 
        <div class="all-tickets">
            <div class="open-tickets">
                <table class="table table-darks table-hovers" id="dataTable" style=" table-layout: fixed; width: 90vw; margin: 0vh 5vw 5vh 5vw;">
                    <tr style="background-color: #343a40 !important;">
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Label Name</th>
                        <th>Id</th>
                        <th>Assigned To</th>
                    </tr>
                    {% for issue in issues %}
                    <tr class="{{ 'ticketOpen' if issue.state == 'opened' else 'ticketClosed' }}">
                        <td>{{ issue.title }}</td>
                        <td>{{ issue.description | default('No description', true) }}</td>
                        <td>{{ issue.created_at }}</td>
                        <td>
                            {% if issue.labels %}
                                {% for label in issue.labels %}
                                    {{ label }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                No labels
                            {% endif %}
                        </td>
                        <td>{{issue.id}}</td>
                        <td>
                            {% if issue.assignee_username %}
                            {% for assigned in issue.assignee_username %}
                                {{ assignee_username }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Not Assigned
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="?page={{ page - 1 }}">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page + 1 }}">Next</a></li>
                        </ul>
                    </nav>
                </div> 
            </div>
            <div class="closed-tickets">
                <table class="table table-darks table-hovers" id="dataTable" style=" table-layout: fixed; width: 90vw; margin: 0vh 5vw 5vh 5vw;">
                    <tr style="background-color: #343a40 !important;">
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Label Name</th>
                        <th>Id</th>
                        <th>Assigned To</th>
                    </tr>
                    {% for issue in issues %}
                    <tr class="{{ 'ticketClosed' if issue.state == 'opened' else 'ticketClosed' }}">
                        <td>{{ issue.title }}</td>
                        <td>{{ issue.description | default('No description', true) }}</td>
                        <td>{{ issue.created_at }}</td>
                        <td>
                            {% if issue.labels %}
                                {% for label in issue.labels %}
                                    {{ label }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                No labels
                            {% endif %}
                        </td>
                        <td>{{issue.id}}</td>
                        <td>
                            {% if issue.assignee_username %}
                            {% for assigned in issue.assignee_username %}
                                {{ assignee_username }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Not Assigned
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="?page={{ page - 1 }}">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page + 1 }}">Next</a></li>
                        </ul>
                    </nav>
                </div> 
            </div>
            <div class="watched-tickets">
                <table class="table table-darks table-hovers" id="dataTable" style=" table-layout: fixed; width: 90vw; margin: 0vh 5vw 5vh 5vw;">
                    <tr style="background-color: #343a40 !important;">
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Label Name</th>
                        <th>Id</th>
                        <th>Assigned To</th>
                    </tr>
                    {% for issue in issues %}
                    <tr class="{{ 'watched' if 'Watch' in issue.labels else ''  }} unwatched">
                        <td>{{ issue.title }}</td>
                        <td>{{ issue.description | default('No description', true) }}</td>
                        <td>{{ issue.created_at }}</td>
                        <td>
                            {% if issue.labels %}
                                {% for label in issue.labels %}
                                    {{ label }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                No labels
                            {% endif %}
                        </td>
                        <td>{{issue.id}}</td>
                        <td>
                            {% if issue.assignee_username %}
                            {% for assigned in issue.assignee_username %}
                                {{ assignee_username }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Not Assigned
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="?page={{ page - 1 }}">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page + 1 }}">Next</a></li>
                        </ul>
                    </nav>
                </div> 
            </div>
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#dataTable tr:not(:first)").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
    <script>
    $(document).ready(function() {
        function applyFilters() {
            var showOpen = $('#openTicketsCheckbox').is(':checked');
            var showClosed = $('#closedTicketsCheckbox').is(':checked');
            var showWatched = $('#watchTicketsCheckbox').is(':checked');

            if (showOpen) {
                $(".open-tickets tr.ticketOpen").show();
            } else {
                $(".open-tickets tr.ticketOpen").hide();
            }

            if (showClosed) {
                $(".closed-tickets tr.ticketClosed").show();
            } else {
                $(".closed-tickets tr.ticketClosed").hide();
            }

            if (showWatched) {
                $(".watched-tickets tr.watched").show();
            } else {
                $(".watched-tickets tr.watched").hide();
                $(".watched-tickets tr.unwatched").hide();
            }
        }

        $('#openTicketsCheckbox, #closedTicketsCheckbox, #watchTicketsCheckbox').change(function() {
            applyFilters();
        });

        applyFilters();
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var watchTickets = document.getElementById('watchTickets');
        
        watchTickets.addEventListener('change', function() {
            document.querySelectorAll('.watchTicket').forEach(function(ticket) {
                ticket.style.display = watchTickets.checked ? '' : 'none';
            });
        });
    });   
</script>
<script>
    $(document).ready(function() {
        $('#issueForm').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/create_issue",
                data: $(this).serialize(),
                success: function(response) {
                    alert(response.message);
                    $('#exampleModal').modal('hide');
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseJSON.message);
                }
            });
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> 
</body>
</html>
