<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://kit.fontawesome.com/5607dd1191.js" crossorigin="anonymous"></script>
    <title>TaskForce Tracker</title>
</head>
<body>
    <div class="nav-bar">
        <nav class="navbar navbar-expand navbar-dark nav-bar">
            <div class="home-page" onclick="window.location.href='/'">
                <i class="fa-solid fa-house"></i>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
            </form>

            <div class="back-arrow" onclick="window.location.href='/'">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
        </nav>
    </div>   
    <div class="knowledge-base-wrapper">
        <div class="table watched-tickets">
            <table class="table table-dark table-hover" style="width: 100vw; padding-left: 5vw; padding-right: 5vw; padding-bottom: 10vh;">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Tags
                    </th>
                    <th>
                        Last Updated
                    </th>
                    <th>
                        Action Item
                    </th>
                </tr>
                <tr>
                    <th>
                        Account Creation Process
                    </th>
                    <th>
                        Explains the account creation process
                    </th>
                    <th>
                        Account Management
                    </th>
                    <th>
                        0/0/0000
                    </th>
                    <th>
                        <div class="action-item-icons">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-solid fa-download"></i>
                            <i class="fa-solid fa-download"></i>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    <table>
    </table>
</div>

</body>
</html>